/*
DFE0AF
A4BAA2
569492
41505E
383245
*/

body {
  background: #383245;
}

div, button {
  box-sizing: border-box;
}

.card {
  background: #41505E;
  max-width: 256px;
  margin: 8px;
  padding: 8px;
  display: inline-block;
  border: 1px solid #569492;
  box-shadow: 0px 0px 0px 1px #41505E;
}

.card-display {
  float: left;
  border: 1px solid #569492;
  line-height: 0;
}

.card > button {
  background: #569492;
  border: 0px;
  text-transform: uppercase;
  margin: 1px 1px 4px 8px;
  color: #DFE0AF;
  padding: 2px;
  float: right;
  clear: right;
  width: 64px;
  overflow: hidden;
  vertical-align: top;
}

.card > button:focus {
  outline: none;
}

.controls > button {
  background: #41505E;
  border: 1px solid #DFE0AF;
  color: #DFE0AF;
  box-shadow: 0px 0px 0px 1px #41505E;
  margin: 2px;
  padding: 4px;
  text-transform: uppercase;
}

.controls > button:focus {
  outline: none;
}
